body{
    width: 700px;
    padding: 0 20px;
    font: 400 16px/1.7 "Microsoft JhengHei", sans-serif;
    color: #444;
    margin: 0 auto;
    overflow-x: hidden;
}

a {
    color: #111;
    word-wrap: break-word;
    -moz-text-decoration-color: rgba(0,0,0,.4);
    text-decoration-color: rgba(0,0,0,.4);
    text-decoration: underline;
    cursor: pointer;
}

a:hover{
    color:#444;
}

/* --------------------- nav ------------------------*/
.nav {
    margin-top: 40px;
    margin-bottom: 60px;
    position: relative;
}

.nav ul{
    margin-top: 40px;
    margin-bottom: 60px;
    position: relative;
}

.nav ul li {
    display: inline-block;
    height: 26px;
    line-height: 26px;
}

.nav ul li span {
    padding: 0 10px;
}

/* ----------------- nav end ------------------------ */


/* ------------------ archived ---------------- */
.archive {}

.archive time{
    color:#666;
}
